// Fonts
$font-main: "Inter", sans-serif;

// Font sizes
$font-sm: 0.9rem;
$font-md: 0.95rem;
$font-lg: 1rem;

// Colors
$color-primary: #d97706;
$color-text: #333;
$color-muted: #374151;
$color-light: #f9f9f9;
$color-border: #eee;
$color-blockquote-bg: #f0f4f8;
$color-border-highlight: #cbd5e0;
$color-highlight-box: #eefcf0;

// Icon colors
$color-success: #22c55e;
$color-warning: #facc15;
$color-error: #ef4444;

//background color
